/**
 * styles.css
 *
 * Computer Science 50
 *
 * Global CSS.
 */

/* Styling for main body */
body 
{
  font-family: sans-serif;
  background-color: #315481;
  background-image: url("/img/gate.png");
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

/* Width and height of container */
.container 
{
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  background: white;

}

/* Style for askHarvard header */
header 
{
  padding: 20px 15px 15px 15px;
  position: relative;
  background: #d2edf4;
  background-color: #70171F;
  height: 42px;
  border-bottom: 1px solid #000;
  border-radius: 2px;
}

/* Styling for login button */
#login-buttons 
{
  display: block;
  float: right;
  color: #fff;
  font-weight: bold;
  font-family: Calibri;
  font-size: 20px;
  margin: -6px -1px;
  text-decoration: none;
}

/* Styling for sign in button on top of main page */
#login-sign-in-link:hover 
{
    color: #fff;
}

/* Styling for askHarvard (header1) */
h1 
{
  font-family: Calibri;
  font-style: italic;
  font-size: 3em;
  margin: -20px 0px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  color: #B0171F;
}

/* Styling for # questions asked */
h2 
{
  font-size: 1em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

#questions-asked
{
  position: absolute;
  left: 17px;
  top: 48px;
  text-align: left;
  font-family: Calibri;
  font-size: 16px;
  color: #fff;
}

/* Style for question display form */
form 
{
  margin-top: 0px;
  margin-bottom: -10px;
  position: relative;
  text-align: center;
}

/* Style for question box */
.new-task input 
{
  box-sizing: border-box;
  padding: 15px 10px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  background: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  border-bottom: 1px solid #000;
}

.new-task input:focus
{
  outline: 0;
}


/* Style for Ask Button */
#submit
{
cursor: pointer;
padding: 1px 4px;
font-size: 150%;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
margin-top: 5px;
line-height: 1.1;
text-align: center;
color: #FFF;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
background: none repeat scroll 0% 0% #B0171F;
border: 1px solid #464F75;
border-radius: 8px;
width: 160px;
}

#submit:hover {
  background: #cc3000;
}

ul 
{
  margin: 0;
  padding: 0;
  background: white;
  word-wrap: break-word;
}

.delete 
{
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li 
{
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text 
{
  margin-left: 10px;
}

li .signature
{
  margin-left: 10px;
}

li .private 
{
  background: #eee;
  border-color: #ddd;
}

header .hide-completed 
{
  float: right;
}

.toggle-private 
{
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search 
  {
    width: 150px;
    clear: both;
  }

  .new-task input 
  {
    padding-bottom: 5px;
  }
}

.ask-harvard
{
  display: inline-block;
  float: right;
}

/* Styling for links */

/* Specific styling for Ask Harvard Link*/
/* unvisited link */
#ask:link 
{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    outline-color: #02406A;
}

/* visited link */
#ask:visited 
{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    outline-color: #02406A;
}

/* mouse over link */
#ask:hover 
{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    -webkit-stroke-width: 6px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
    outline-color: #02406A;
}

/* selected link */
#ask:active
 {
    font-weight: bold;
    color: #02406A;
    text-decoration: none;
    outline-color: #02406A;
}

/* unvisited link */
#ask:link span
{
    font-weight: bold;
    color: #527827;
    text-decoration: none;
    outline-color: #02406A;
}

/* visited link */
#ask:visited span
{
    font-weight: bold;
    color: #EF171F;
    text-decoration: none;
    outline-color: #02406A;
}

/* mouse over link */
#ask:hover span
{
    font-weight: bold;
    color: #52C027;
    text-decoration: none;
    -webkit-stroke-width: 8px;
    -webkit-stroke-color: #ff0000;
    -webkit-fill-color: #ff0000;
    text-shadow: 1px 0px 20px green;
    outline-color: #02406A;
}

/* selected link */
#ask:active span
 {
    font-weight: bold;
    color: #02406A;
    text-decoration: none;
    outline-color: #02406A;
}

/* Regular links */
/* unvisited link */
a:link 
{
    font-weight: bold;
    color: #3b5998;
    text-decoration: none;
}

/* visited link */
a:visited 
{
    font-weight: normal;
    color: #B0171F;
    text-decoration: none;
}

/* mouse over link */
a:hover 
{
    font-weight: normal;
    color: #CD3700;
    text-decoration: none;
}

/* selected link */
a:active 
{
    font-weight: normal;
    color: #B0171F;
    text-decoration: none;
}
