/**
 * styles.css
 *
 * Computer Science 50
 *
 * Global CSS.
 */

/* Styling for main body */
body 
{
  font-family: sans-serif;
  background-color: #315481;
  background-image: url('/img/gate.png');
  background-attachment: fixed;
  background-size: cover; /* Standard syntax */
  background-size: -webkit-cover; /* Safari and Chrome */
  background-size: -moz-cover; /* Mozilla */
  background-size: -o-cover; /* Opera */
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

/* Width and height of container */
.container 
{

  max-width: 800px;
  margin: 6px auto;
  min-height: 100%;
  background: none repeat scroll 0% 0% #FFF;
  box-shadow: 2px 2px 14px 3px #000;

}

/* Style for askHarvard header */
header 
{
  padding: 20px 15px 15px 15px;
  position: relative;
  background: linear-gradient(to top , #6F6F6F, #000); /* Standard syntax */
  background: -webkit-linear-gradient(to top , #6F6F6F, #000); /* Safari and Chrome */
  background: -moz-linear-gradient(to top , #6F6F6F, #000); /* Mozilla */
  background: -o-linear-gradient(to top , #6F6F6F, #000); /* Opera */
  background-size: 100%;
  height: 42px;
  border-bottom: 1px solid #000;
  border-radius: 2px;
  /*box-shadow: 2px 2px 12px 3px #000;*/
}

/* Styling for login button */
#login-buttons 
{
  display: block;
  float: right;
  color: #fff;
  font-weight: bold;
  font-family: Calibri;
  font-size: 20px;
  margin: -6px -1px;
  text-decoration: none;
}

/* Styling for sign in button on top of main page */
#login-sign-in-link:hover 
{
    color: #fff;
}

/* Styling for askHarvard (header1) */
h1 
{
  font-family: Calibri;
  font-style: italic;
  font-size: 3em;
  margin: -20px 0px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  color: #B0171F;
}

/* Styling for # questions asked */
h2 
{
  font-size: 1em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

/* Style for questions asked */
#questions-asked
{
  position: absolute;
  left: 17px;
  top: 48px;
  text-align: left;
  font-family: Calibri;
  font-size: 16px;
  color: #fff;
}

/* Style for question display form */
form 
{
  margin-top: 0px;
  margin-bottom: -10px;
  position: relative;
  text-align: center;
}

/* Style for question box */
.new-task input 
{
  box-sizing: border-box;
  padding: 15px 10px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  background: linear-gradient(to bottom, #d0edf5, #e1e5f0); /* Standard Syntax */
  background: -webkit-linear-gradient(to bottom, #d0edf5, #e1e5f0); /* Safari and Chrome */
  background: -moz-linear-gradient(to bottom, #d0edf5, #e1e5f0); /* Mozilla */
  background: -o-linear-gradient(to bottom, #d0edf5, #e1e5f0); /* Opera */
  border-bottom: 1px solid #000;
}

.new-task input:focus
{
  outline: 0;
}


/* Style for Ask Button */
#submit
{
cursor: pointer;
border: 1px solid #A0171F;
font-family: Calibri;
font-style: italic;
color: #fff;
width: 30px;
font-weight: bold;
padding: 0px;
width: 140px;
text-align: center;
display: block;
margin: 5px 40%;
font-size: 25px;
border-radius: 5px;
box-shadow: 0 1px 3px #101010;
text-shadow: 1px 1px 1px #303030;
background: linear-gradient(to bottom, #D82D2D, #60171F); /* Standard Syntax */
background: -webkit-linear-gradient(to bottom, #D82D2D, #60171F); /* Safari and Chrome */
background: -moz-linear-gradient(to bottom, #D82D2D, #60171F); /* Mozilla */
background: -o-linear-gradient(to bottom, #D82D2D, #60171F); /* Opera */
}

#submit:hover {
  background: linear-gradient(to bottom, #F82D2D, #90171F); /* Standard Syntax */
  background: -webkit-linear-gradient(to bottom, #F82D2D, #90171F); /* Safari and Chrome */
  background: -moz-linear-gradient(to bottom, #F82D2D, #90171F); /* Mozilla */
  background: -o-linear-gradient(to bottom, #F82D2D, #90171F); /* Opera */
}

#submit:active {
  vertical-align: top;
}

ul 
{
  margin: 0;
  padding: 0;
  background: white;
  word-wrap: break-word;
}

.delete 
{
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li 
{
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text 
{
  margin-left: 10px;
}

li .signature
{
  margin-left: 10px;
}

li .private 
{
  background: #eee;
  border-color: #ddd;
}

#ask-anonymously
{
  display: inline-block;
  margin-right: 10px;
}

.hide-completed
{
  vertical-align: 60%;
  margin-left: 60%;
  margin-bottom: 10px;
  margin-top: -10px;
}


@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search 
  {
    width: 150px;
    clear: both;
  }

  .new-task input 
  {
    display: inline-block;
  }
}

/* Styling for the ASK box */
#ask-box
{
  background: linear-gradient(to right, #D2EEFF, #428EAF); /* Standard Syntax */
  background: -webkit-linear-gradient(to right, #D2EEFF, #428EAF); /* Chrome and Safari support */
  background: -moz-linear-gradient(to right, #D2EEFF, #428EAF); /* Mozilla support */
  background: -o-linear-gradient(to right, #D2EEFF, #428EAF); /* Opera support */
  color: #000;
  font-size: 16px;

}

.ask-harvard
{
  display: inline-block;
  float: right;
}

/* Styling for links */

/* Specific styling for Ask Harvard Link*/
/* unvisited link */
#ask:link 
{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    outline-color: #02406A;
}

/* visited link */
#ask:visited 
{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    outline-color: #02406A;
}

/* mouse over link */
#ask:hover 
{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    -webkit-stroke-width: 6px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    -moz-stroke-width: 6px;
    -moz-stroke-color: #FFFFFF;
    -moz-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
    outline-color: #02406A;
}

/* selected link */
#ask:active
 {
    font-weight: bold;
    color: #02406A;
    text-decoration: none;
    outline-color: #02406A;
}

/* unvisited link */
#ask:link span
{
    font-weight: bold;
    color: #F82D2D;
    text-decoration: none;
    outline-color: #02406A;
}

/* visited link */
#ask:visited span
{
    font-weight: bold;
    color: #DA171F;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    outline-color: #02406A;
}

/* mouse over link */
#ask:hover span
{
    font-weight: bold;
    color: #F82D2D;
    text-decoration: none;
    -webkit-stroke-width: 8px;
    -webkit-stroke-color: #ff0000;
    -webkit-fill-color: #ff0000;
    -moz-stroke-width: 8px;
    -moz-stroke-color: #ff0000;
    -moz-fill-color: #ff0000;
    text-shadow: 1px 0px 20px #F82D2D;
    outline-color: #02406A;
}

/* selected link */
#ask:active span
 {
    font-weight: bold;
    color: #F82D2D;
    text-decoration: none;
    outline-color: #02406A;
}

/* Regular links */
/* unvisited link */
a:link 
{
    font-weight: bold;
    color: #3b5998;
    text-decoration: none;
}

/* visited link */
a:visited 
{
    font-weight: normal;
    color: #B0171F;
    text-decoration: none;
}

/* mouse over link */
a:hover 
{
    font-weight: normal;
    color: #CD3700;
    text-decoration: none;
}

/* selected link */
a:active 
{
    font-weight: normal;
    color: #B0171F;
    text-decoration: none;
}
