/**
 * styles.css
 *
 * CS50 Final Project
 *
 * Global CSS.
 */

/* PLACEHOLDER */

.page-main
{
  display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: left;
  color: #000;
  margin: 42px 0 0;
  padding: 0;
}

#navbar-inner 
{
  z-index: 1000;
  position: relative;
  min-height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 1px 14px 4px #000;
  background: -moz-linear-gradient(bottom center, #023E6F, #027EAF); /* Mozilla support */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#027EAF), to(#023E6F));
}

#toolbar .navbar-inner 
{
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 10;
  border-radius: 0 0 0 0;
  padding-left: 100%;
  padding-right: 100%;
  margin-left: -100%;
  margin-right: -100%;
  background-color: hsla(0,0%,20%,0.5);
}

.navbar-inner .container-navbar
{
  margin: 0;
  padding: 0;
}
.container-navbar 
{
  padding-right: 20px;
  padding-left: 20px;
}

#toolbar-links
{
  padding-right: 8px;
}

.navbar .navbar-pull
{
  float: right;
  margin: 0 10px 0 0;
  list-style: none;
  position: relative;
  left: 0;
  display: block;
}

.navbar .nav
{
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 20px 0 0;
}

.navbar .nav > li
{
  float: left;
  line-height: 20px;
  font-size: 15px;
}

#mainmenu .active > a 
{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0 0 0 0;
  font-weight: bold;
  color: hsl(0,0%,92%);
  text-decoration: none;
}

#mainmenu > li > a
{
  -webkit-box-shadow: none;
  box-shadow: none;
  color: hsl(0,0%,92%);
  text-shadow: none;
}

.navbar .nav > li > a
{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0 0 0 0;
  font-weight: bold;
  color: hsl(0,0%,92%);
  text-decoration: none;
}

.nav > li > a
{
  display: block;
}

/* Styling for Ask Harvard Logo */
a#logo
{
  font-family: Calibri;
  font-weight: bold;
  font-style: italic;
  padding-right: 12px;
  padding-left: 12px;
  background: -moz-linear-gradient(bottom center, #023E6F, #027EAF); /* Mozilla support */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#027EAF), to(#023E6F));
  outline-color: none;
  font-size: 28px;
}
a#logo span
{
  color: #66CD00;
}

/* Styling for on hover Ask Harvard Logo */
a#logo:hover
{
  background-position: center bottom;
  -webkit-stroke-width: 6px; /* Chrome and Safari support */
  -webkit-stroke-color: #FFFFFF; /* Chrome and Safari support */
  -webkit-fill-color: #FFFFFF; /* Chrome and Safari support */
  -moz-stroke-width: 6px; /* Mozilla support */
  -moz-stroke-color: #FFFFFF; /* Mozilla support */
  -moz-fill-color: #FFFFFF; /* Mozilla support */
  -o-stroke-width: 6px; /* Opera support */
  -o-stroke-color: #FFFFFF; /* Opera support */
  -o-fill-color: #FFFFFF; /* Opera support */
  stroke-width: 6px; /* Standard support */
  stroke-color: #FFFFFF; /* Standard support */
  fill-color: #FFFFFF; /* Standard support */
  text-shadow: 1px 0px 20px #FFFFFF;
  color: #FFFFFF;
}

a#logo:hover span
{
  background-position: center bottom;
  -webkit-stroke-width: 6px; /* Chrome and Safari support */
  -webkit-stroke-color: #FFFFFF; /* Chrome and Safari support */
  -webkit-fill-color: #FFFFFF; /* Chrome and Safari support */
  -moz-stroke-width: 6px; /* Mozilla support */
  -moz-stroke-color: #FFFFFF; /* Mozilla support */
  -moz-fill-color: #FFFFFF; /* Mozilla support */
  -o-stroke-width: 6px; /* Opera support */
  -o-stroke-color: #FFFFFF; /* Opera support */
  -o-fill-color: #FFFFFF; /* Opera support */
  stroke-width: 6px; /* Standard support */
  stroke-color: #FFFFFF; /* Standard support */
  fill-color: #FFFFFF; /* Standard support */
  text-shadow: 1px 0px 20px #FFFFFF;
  color: #FFFFFF;
  color: #76EE00;
}

/* Styling for on click Ask Harvard Logo */
a#logo:active
{
    background: #025E8F;
}

a#login-sign-in-link
{
  vertical-align: center;
  margin-top: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: hsl(0,0%,92%);
  font-size: 15px;
  margin-right: 6px; 
  padding: 12px 10px;
  text-shadow: none;
  text-decoration: none;
  font-weight: bold;
  background: -moz-linear-gradient(bottom center, #023E6F, #027EAF); /* Mozilla support */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#027EAF), to(#023E6F));
  outline-color: none;
  float: right;
}

a#login-name-link
{
  vertical-align: center;
  margin-top: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: hsl(0,0%,92%);
  font-size: 15px;
  margin-right: 6px;
  padding: 12px 12px;
  text-shadow: none;
  text-decoration: none;
  font-weight: bold;
  background: -moz-linear-gradient(bottom center, #023E6F, #027EAF); /* Mozilla support */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#027EAF), to(#023E6F));
  outline-color: none;
  float: right;
}

a#login-sign-in-link:hover
{
  background-position: center bottom;
  -webkit-stroke-width: 6px; /* Chrome and Safari support */
  -webkit-stroke-color: #FFFFFF; /* Chrome and Safari support */
  -webkit-fill-color: #FFFFFF; /* Chrome and Safari support */
  -moz-stroke-width: 6px; /* Mozilla support */
  -moz-stroke-color: #FFFFFF; /* Mozilla support */
  -moz-fill-color: #FFFFFF; /* Mozilla support */
  -o-stroke-width: 6px; /* Opera support */
  -o-stroke-color: #FFFFFF; /* Opera support */
  -o-fill-color: #FFFFFF; /* Opera support */
  stroke-width: 6px; /* Standard support */
  stroke-color: #FFFFFF; /* Standard support */
  fill-color: #FFFFFF; /* Standard support */
  text-shadow: 1px 0px 20px #FFFFFF;
  color: #FFFFFF;
}

a#login-sign-in-link:active
{
    background: #025E8F;
}

#question-counter
{
  -webkit-box-shadow: none;
  box-shadow: none;
  color: hsl(0,0%,92%);
  font-size: 14px;
  text-shadow: none;
  text-decoration: none;
  padding-top: 11px;
  padding-left: 4px;
}

/* Styling for Home */
a#link-main
{
  background: -moz-linear-gradient(bottom center, #023E6F, #027EAF); /* Mozilla support */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#027EAF), to(#023E6F));
  outline-color: none;
  font-size: 15px;
}

/* Styling for on hover Home */
a#link-main:hover
{
  background-position: center bottom;
  -webkit-stroke-width: 6px; /* Chrome and Safari support */
  -webkit-stroke-color: #FFFFFF; /* Chrome and Safari support */
  -webkit-fill-color: #FFFFFF; /* Chrome and Safari support */
  -moz-stroke-width: 6px; /* Mozilla support */
  -moz-stroke-color: #FFFFFF; /* Mozilla support */
  -moz-fill-color: #FFFFFF; /* Mozilla support */
  -o-stroke-width: 6px; /* Opera support */
  -o-stroke-color: #FFFFFF; /* Opera support */
  -o-fill-color: #FFFFFF; /* Opera support */
  stroke-width: 6px; /* Standard support */
  stroke-color: #FFFFFF; /* Standard support */
  fill-color: #FFFFFF; /* Standard support */
  text-shadow: 1px 0px 20px #FFFFFF;
  color: #FFFFFF;
}

/* Styling for on click Home */
a#link-main:active
{
    background: #025E8F;
}

/* Position and width for text and button wrap in Main page */
.wrap
{
  z-index: 100;
  position: relative;
  width: 880px;
  margin-top: 0%;

}

/* Styling for root page in Main */
.root
{
  height: 100%;
  min-width: 320px;
}

/* Adds minimum height to text-page inside Main page */
.page-in-root
{
  min-height: 600px;
}

/* Styling for Main page background */
#main-bg
{
  z-index: 10;
  width: 100%;
  height: 102%;
  position: absolute;
  top: -5px;
  left: 0px;
  right: 0px;
  background-image: url("/img/john-harvard1.png");
  background-position: 50% 40px;
  background-size: cover;
}

/* Adds margin and position for Ask Now button */
.content
{
  float: right;
  position: relative;
  width: 250px;
  margin-top: 2%;
}

/* Styling for Ask Now button */
.content .access-homepage
{
  z-index: 100;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 1px 0px 0px rgba(255, 255, 255, 0.05) inset, -1px 0px 0px rgba(255, 255, 255, 0.05) inset, 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
  position: relative;
  left: -152%;
  top: 350px;
  padding: 13px 13px 12px 42px;
  font-size: 16px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid #1C5380;
  background-position: 50% 50%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#027EAF), to(#023E6F)); /* Safari and Chrome support */
  background: -moz-linear-gradient(bottom center, #023E6F, #027EAF); /* Mozilla support */
  background: -o-linear-gradient(bottom center, #023E6F, #027EAF); /* Operasupport */
  background: linear-gradient(bottom center, #023E6F, #027EAF); /* Standard support */
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1em;
  text-decoration: none !important;
  display: inline-block;
  font-family: "proxima-nova","Helvetica Neue",Arial,Helvetica,sans-serif;
}

/* Hover styling for Ask Now button */
.content .access-homepage:hover
{
  background-color: #EEE;
}

/* Active styling for Ask Now button */
.content .access-homepage:active
{
  border-color: #133856;
  background: #025E8F;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) inset, 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);
  border-color: #133856;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

/* Visited styling for Ask Now button */
.content .access-homepage:visited
{
  color: rgba(255, 255, 255, 0.8);
}

/* Add house icon in Ask Now button */
.content .access-homepage i
{
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 40px;
  height: 40px;
  background: url("/img/shared-assets.png") no-repeat scroll 4px -196px transparent;
}