<template name="answerpage">
  <body>
    <div class="answer-page">
      <div class="answer-page-content">
        <div class="question-frame">
          {{> question}}
        </div>
        <ul class="comment-stream">    
        	{{#each answers}}      
        		{{> answer}}    
        	{{/each}}  
        </ul>
        
        {{#if harvardStudent}}    
          {{> answerSubmit}}  
        {{else}}    
          <p>Please log in with a Harvard email to answer.</p>  
        {{/if}}
      </div>
    </div>
    <div id="answer-page-background"></div>
</body>
</template>
