<template name="homepage">
  <body>
    <div id="page-outer">
      <div id="page-container" class="content-wrapper">
        <div id="timeline" class="content-main">
          <div class="home-question-box">
            <form class="new-task">
              <div class="question-content">
                <textarea id="ask-box" type="text" name="text" placeholder="Ask us a question!"></textarea>
            </div>
              <div class="toolbar">
                <div class="question-extras">
                  <label class="hide-completed"><input id="ask-anonymously" class="anonymous-blurb" type="checkbox" checked="{{hideCompleted}}"/>Ask Anonymously</label>
                </div>
                <div class="ask-button">
                  <input id="question-submit" type="submit" value="Ask"/>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="question-container"> <!-- stream-container -->
          <div class="question-stream"> <!-- stream home-stream -->
            <ul class="question-items"> <!-- stream-items -->
              {{#each questions}}
                {{> question}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="question-page"></div>
  </body>
</template>

