<template name="homepage">
  <body class="page-home">
    <form id="question-form">
      <div class="question-bar">
        <div id="question-title-bar">
          <div class="title-headline">Ask a Question</div>
        </div>
        <div id="question-loader">
          <input id="ask-box" type="text" name="text" placeholder="Ask us a question!" />
        </div>
        <div>
          <input id="question-submit" type="submit" value="ask"/>
          <label id="post-options-border"><input id="ask-anonymously" class="anonymous-blurb" type="checkbox" checked="{{hideCompleted}}"/>Ask Anonymously</label>
<!--           <input id="question-submit" type="submit" value="ask"/> -->
        </div>    
      </div>
    </form>
    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>

      </body>
</template>
 
      