<template name="layout">
	<body class="top-banner">
		<div id="top-menu">
			<div id="menu-top">
				<a id="link-main" href='/'>Main</a>
				<a id="logo" href='/homepage'>ask<span>Harvard</span></a>
				<a id="link-login">{{> loginButtons}}</a>
			</div>
			<div id="counter-top-right">{{questionsCount}} Questions Asked. {{answersCount}} Total Answers.</div>
		</div>
	</body>
	{{>yield}}
 <!--  <div class="container">
    <header>
      <h1><a id="ask" class="ask-harvard" href='/'>ask<span>Harvard</span></a></h1>
      <h2 id="questions-asked">{{questionsCount}} questions asked</h2>
      <strong><a id="login-buttons" class="ask-harvard">{{> loginButtons}}</a></strong>
    </header>

      {{>yield}}
  </div> -->

</template>