<template name="layout">
	<body class="top-navigation-bar">
		<header id="top">
			<div id="toolbar" class="navbar">
				<div id="navbar-inner">
					<div class="container-navbar">
						<ul id="toolbar-links" class="navbar-pull">
							<li>
								<ul id="mainmenu" class="nav">
									<li class="active">
										<a id="logo" href="/">ask<span>Harvard</span></a>
									</li>
									<li>
										<a id="link-main" href="/homepage">Home</a>
									</li>
									<li>
										<div id="link-login">{{> loginButtons}}</div>
									</li>
									<li>
										<label id="question-counter">{{questionsCount}} Questions Asked. {{answersCount}} Total Answers.</label>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
	<label id="copyright">Made by Max Shen and Lucas Urbisaia</label>
	</body>
	{{>yield}}
 </template>