<template name="mainpage">
	<body class="page-home">
	    <div class="root">
	        <div class="page">
	            <div class="main">
	                <div id="home-bg"></div>
	                <div class="wrap">
	                    <div class="content">
	                        <a class="access-homepage" href="/homepage">Ask Now<i></i></a>
	                        <h1 class="askharvard-title">askHarvard</h1>
	                        <div class="tab">
	                            <div class="tab-content">
	                                <h1></h1>
	                                <p></p>
	                                <p></p>
	                                <p></p>
	                                <div class="platform-badge-container"></div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
</template>