<template name="mainpage">
	<body class="page-main">
	    <div class="root">
	        <div class="page-in-root">
	            <div class="main">
	                <div id="main-bg"></div>
	                <div class="wrap">
	                    <div class="content">
	                        <a class="access-homepage" href="/homepage">Ask Now<i></i></a>
	                        <h1 class="askharvard-title">askHarvard</h1>
	                        <div class="sheet">
	                            <div class="sheet-content">
	                                <h1></h1>
	                                <p></p>
	                                <p></p>
	                                <p></p>
	                                <div class="platform-badge-container"></div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
</template>