<template name="task">
  <li class="question-cascade">
    {{#if ownPost}}<button class="delete">&times;</button>{{/if}}
    <span class="signature"><strong>{{username}}</strong></span>
    <br>
    <span class="text">{{text}}</span>    
    <span class="signature"><strong>{{username}}</strong></span>
    {{#if harvardStudent}}<a href="{{pathFor 'answerpage'}}" class="discuss btn btn-default">Answer</a>{{/if}}
    <a href="{{pathFor 'answerpage'}}">({{commentsCount}} answers)</a>
  </li>
</template>
